.main-page{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-neutral-0);
  padding-bottom: 3.5rem;
}

.main-page_header{
  display: flex;
  padding: 1rem 1rem 0.5rem 1rem;
  flex-direction: column;
  gap: 0.75rem;
}


.main-page_header .pretitle{
  color: var(--clr-neutral-600);
  margin-right: 0.25em;
}

.main-page_header .icon{
  width: 1.5rem;
  height: 1.5rem;
}

  .header-tools{
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }


.main-page_header input{
  height: 2.75rem;
  width: 100%;
}

.main-page_header input::placeholder{
  font-size: var(--fs-350);
  font-weight:300;
  line-height: 1.3;
  letter-spacing: -0.2px;
}

.inner-sidebar{
  grid-row:2/end;
  grid-column: 1/2;
  overflow-y: auto;
  padding: 0.5rem 1rem;
  border-right: var(--border-grid);
  height: 100%;
}

.note-tags{
  gap: 0.5rem;
}

.tag{
  background-color: var(--clr-neutral-200);
  padding: 0.125rem 0.4rem;
  border-radius: 0.25rem;
}

.mobile-topbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--border-grid);
  color: var(--clr-neutral-600);
}

.tag-topbar{
 border-bottom: none; 
}

.goback-btn{
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.goback-btn svg{
  width: 1rem;
  height: 1rem;
  fill: var(--clr-neutral-600);
} 


.top-bar-right{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.top-bar-right svg{
  width: 1.125rem;
  height: 1.125rem;
  stroke: var(--clr-neutral-600);
  fill:var(--clr-neutral-0);
}

.note-content{
  grid-row: 2/end;
  grid-column: 2/3;
  overflow-y: auto; 
  padding: 1.5rem 1rem;
  min-height: 100vh;
}

.note-metadata > .split{
  padding-block: 0.25rem;
}

.metadata_key{
  flex-basis: 7.25rem;
  gap: 0.4rem;
}
.metadata_key .icon{
  width: 1rem;
  height: 1rem;
}

.right-sidebar{
  display: none;
}


.right-sidebar .btn {
  text-align: left;
  gap: 0.75rem;
  align-items: center;
  border: 1px solid var(--clr-neutral-300)
}

.ProseMirror-focused{
  outline: none;
}

.tags-input-wrapper{
  flex: 1;
  display: flex;
  align-items: center;
}

.tags-input-wrapper .ProseMirror{
  flex: 1;
  cursor: text;
  min-height: 1.2rem;
  outline: none;
  font-size: var(--fs-350);
  font-weight: 300;
  line-height: 1.5;
  color: var(--clr-neutral-950);
}

.tags-input-wrapper .ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  color: var(--clr-neutral-400);
  pointer-events: none;
  float: left;
  height: 0;
}

.mobile-hide{
  display: none;
}

.mobile-hide-flex{
  display: none;
}


@media (min-width: 75em) {
  .main-page{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 18rem 1fr 18rem;
  }

  .mobile-hide{
    display: block;
  }

  .mobile-hide-flex{
    display: flex;
  }

  
  .main-page_header{
    grid-column: 1/end;
    grid-row: 1/2;
    padding: 1.25rem 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-grid);
    padding: 1.25rem 2rem;
    gap: 0;
  }

  .main-page_header{
    padding: 1rem;
  }

  .main-page_header input{
    width: 18.75rem;
  }

  .header-tools{
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }


  .settings-icon{
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--clr-neutral-600);
    cursor: pointer;
  }

  .inner-sidebar{
    padding: 1.25rem 1rem;
  } 

  .mobile-topbar{
    display: none;
  }
  
  .right-sidebar{
    display: block;
    grid-row: 2/end;
    grid-column: 3/end;
    padding: 1.25rem 1.5rem;
    border-left: var(--border-grid);
  }

  .note-content{
      padding: 1.25rem 1.5rem;
  }
  
}


.collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
  }

  .collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
  }

  /* Render the username above the caret */
  .collaboration-carets__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
  }
