.sidebar{
  padding: 1rem;
  position: relative;
}

.navbar-mobile{
  display: flex;
  padding: 0.75rem 1rem;
  height: 3.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px -4px 6px 0px #F0F0F0;
  background-color: rgba(255, 255, 255, 1); /* opaque */
  z-index: 50; /* higher than mobile content */

  border-top: 1px solid var(--clr-neutral-200);
}

.sidebar-content{
  display: none;
}

 .nav-item{
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #fff;
  --SVG_COLOR: var(--clr-neutral-600);
  border:none;
}

.nav-item .icon{
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
}

.nav-item.selected{
  --SVG_COLOR: var(--clr-blue-500);
}


@media (min-width: 75em) {
  .sidebar{
    display: block;
    height: 100;
    overflow-y: auto;
    flex: 15.5rem 0 0;
    border-right: var(--border-grid);
    background-color: var(--clr-neutral-0);
  }
  .navbar-mobile{
    display: none;
  }

  .sidebar-content{
    display: block;
  }

  .logo{
    padding-block:1rem;
  }
  
}


.section-title{
  color: var(--clr-neutral-500);
  padding-inline: 0.5rem;
}

.sidebar-item{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}



.sidebar-item.selected::after{ 
  position: absolute;
  content: "";
  width: 24px;       
  height: 24px;
  right: 5px;     
  background-image: url("/assets/icon-chevron-right.svg");
}

.sidebar-item.selected{
  background-color: var(--clr-blue-50);
}

.sidebar-item:hover{
  background-color: var(--clr-neutral-100);
}

.sidebar-item .icon{
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  /* fill: var(--clr-blue-500); */
}