.share-form {
  margin-bottom: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-weight: 500;
  color: var(--clr-neutral-700);
}

.share-input-group{
  gap: 1rem;
}

.share-input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--clr-neutral-300);
  font-size: 0.875rem;
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-950);
}

.share-input:focus {
  outline: none;
  border-color: var(--clr-blue-500);
}


.share-form .btn-primary {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
}

.error-message {
  color: var(--clr-red-500);
  margin-top: 0.25rem;
}

.collaborators-section {
  padding-top: 1rem;
  border-top: 1px solid var(--clr-neutral-200);
}
.collaborators-section icon{
  width: 1.25rem;
  height: 1.25rem;
}

.collaborators-section h4 {
  margin: 0 0 0.75rem 0;
  color: var(--clr-neutral-700);
}

.collaborators-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.collaborator-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background: var(--clr-neutral-200);
  border-radius: 4px;
}

.collaborator-info {
  flex: 1;
}

.collaborator-info p {
  margin: 0;
}

.text-muted {
  color: var(--clr-neutral-600);
}

.remove-btn {
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.remove-btn:hover {
  background-color: var(--clr-neutral-300);
}

.remove-btn svg {
  width: 16px;
  height: 16px;
  color: var(--clr-neutral-600);
}
