
  .toast-container {
    position: fixed;
    top: 80%;
    right: 1rem;
    z-index: 10;
  }

  .toast {
    max-width: 19rem;
    width: 100%;
  }

/* Mobile responsive */
@media (min-width: 640px) {
  .toast-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    pointer-events: none;
  }

  .toast{
    max-width: 24rem;
  }
  
  .toast-container > * {
    pointer-events: auto;
  }
  
}
