.collaborators-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.collabration-text{
  padding-inline: 0.5rem;
}

.collaborator-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.collaborator-dot {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  flex-shrink: 0;
}

.collaborator-name {
  font-size: 0.875rem;
  color: var(--clr-neutral-900);
  font-weight: 500;
  transition: color 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.collaborator-name.offline {
  color: var(--clr-neutral-400);
}
